In [1]:
lst = [1, 2, 3, 4, 2, 3, 5, 6, 1]

new_list = []

for i in lst:
  if i not in new_list:
    new_list.append(i)

print(new_list)

[1, 2, 3, 4, 5, 6]

**Another approach using *set()***

In [2]:
lst = [1, 2, 3, 4, 2, 3, 5, 6, 1]

new_lst = list(set(lst))

print(new_lst)

[1, 2, 3, 4, 5, 6]